body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.book-library {
  
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.book-library h1 {
  text-align: center;
  margin-bottom: 20px;
}

.book {
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.book:last-child {
  border-bottom: none;
}

.book img {
  max-width: 200px;
  margin-bottom: 15px;
}

.book h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.book p {
  color: #777777; /* Author color */
  margin-bottom: 15px;
}

.price {
  background-color: #2ecc71; /* Green price block */
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
